#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h2 {
  color:blue;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

p {
  font-size: 18px;
  
}


.main {
  background-color: rgb(255, 255, 255);
  padding: 50px;
  border-radius: 20px;
  border: 3px solid blue;
}

.main-picture {
  height: 200px;
  border-radius: 10px;
  border: 2px solid blue;
}

.rectangle {
  height: 7px;
  width: 200px;
  background-color: blue;
  margin: 0px auto;
}

.navigation-pictures {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.navigation-pictures img {
  height: 150px;
  width: 250px;
  cursor: pointer;
  border-radius: 10px;
  
}

.navigation-pictures img:hover {
  scale: 1.1;
  transition: 0.5s;
  box-shadow: 0 8px 100px 0px rgb(149, 181, 194);
}

.intro {
  background-color: rgb(237, 250, 255);
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
}

.main-link {
  color: rgb(66,18,81);
  background-color: rgb(237, 250, 255);
  width: 300px;
  height: 200px;
  padding: 30px 10px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto';

 
}

.social-button img {
  height: 30px;
  padding: 20px 10px;
  
}

.social-button span {
  position: relative;
  top: -30px;
  height: 30px;
  color: blue;
}

.social-button:hover {
  color: #7ba9c3;
  cursor: pointer;
  
}

.button-active {
  background-color: aqua;
}

.button-inactive {
  background-color: white;
}

.tagasi {
  background-color: rgb(237, 250, 255);
}

.tagasi:hover {
  box-shadow: 0 8px 100px 0px rgb(149, 181, 194);
}

body {
  background-color:blanchedalmond;

}