#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.pakett {
  margin: 20px;
}

.pakett:hover {
  border: 3px solid purple;
}

.pakett-aktiivne {
  margin: 20px;
  border: 3px solid purple;
}

.aktiivne {
  text-decoration: underline;
  font-weight: bold;
  background-color: black;
  color: white;
}

.mitte-aktiivne {
  background-color: pink;
}

.must-ring {
  height: 100px;
  width: 100px;
  margin: auto;
  border-radius: 50%;
  background-color: black;
}

.kuldne-ring {
  height: 100px;
  width: 100px;
  margin: auto;
  border-radius: 50%;
  background-color: goldenrod;
}

.sinine-ring {
  height: 100px;
  width: 100px;
  margin: auto;
  border-radius: 50%;
  background-color: blue;
}

.punane-ring {
  height: 100px;
  width: 100px;
  margin: auto;
  border-radius: 50%;
  background-color: red;
}

.lilla-ring {
  height: 100px;
  width: 100px;
  margin: auto;
  border-radius: 50%;
  background-color: purple;
}