#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.RightCorner {
  width: 300px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.RightCorner:hover {
  border-radius: 30px;
  opacity: 70%;
}

body {
  background-color: beige;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

button {
  background-color: green;
  color: lightgray;
}

button:hover {
  height: 100px;
}

button:active {
  cursor: grab;
}

p {
  color: blue;
}

p:hover {
  font-size: 24px;
}

h4 {
  color: green;
  border: 2px, solid, red;
}

h4:hover {
  border: 2px, solid, brown;
}
